{% trans_default_domain 'SixnappsExtensionBundle' %}

{% block vich_file_row -%}
	{% set force_error = true %}
	{{- block('form_row') }}
{%- endblock %}

{% block vich_file_widget %}
	{% spaceless %}
		<div class="vich-file">
			{% if download_uri %}
				<table class="table">
					<tr>
						<td>
							<a href="{{ download_uri }}">{{ download_uri|basename }}</a>
						</td>
						<td class="text-right">
							{% if form.delete is defined %}
								<input type="checkbox" id="{{ form.delete.vars.id }}"
									   name="{{ form.delete.vars.full_name }}" value="{{ form.delete.vars.value }}">
								<label for="{{ form.delete.vars.id }}">&nbsp;supprimer</label>
							{% endif %}
						</td>
					</tr>
				</table>

			{% else %}
				{{ form_widget(form.file) }}
			{% endif %}

		</div>
	{% endspaceless %}
{% endblock %}

{% block vich_image_row -%}
	{% set force_error = true %}
	{{- block('form_row') }}
{%- endblock %}

{% block vich_image_widget %}
	{% spaceless %}
		123
		<div class="vich-image">
			{{ form_widget(form.file) }}
			{% if form.delete is defined %}
				{{ form_row(form.delete) }}
			{% endif %}

			{% if image_uri %}
				<a href="{{ image_uri }}">
					<img src="{{ image_uri }}" alt="preview"
						 style="width:100%; max-width:400px; max-height: 300px; margin: auto" />
				</a>
			{% endif %}
			{% if download_uri %}
				<a href="{{ download_uri }}">{{ translation_domain is same as(false) ? download_label : download_label|trans({}, translation_domain) }}</a>
			{% endif %}
		</div>
	{% endspaceless %}
{% endblock %}

{% block vich_file_label %}
	{% set label = label|trans|default(label) %}
	{{- block('form_label') }}
{% endblock %}


{% block image_widget %}
	{% spaceless %}
		<div class="cropper" data-cropper-options="{{ form.vars.cropper_options }}" data-max-width="{{ max_width }}"
			 data-max-height="{{ max_height }}" data-mimetype="{{ upload_mimetype }}"
			 data-quality="{{ upload_quality }}">

			<div class="cropper-canvas-container{% if form.delete is defined %} cropper-canvas-has-delete{% endif %}"
				 data-preview-width="{{ preview_width }}"
				 data-preview-height="{{ preview_height }}"
				 style="width: 100%; {% if form.vars.download_uri is not defined or not form.vars.download_uri %}background: center 25px no-repeat url('{{ asset('bundles/sixnappsextension/img/no-thumb.png')}}'); min-height:200px;{% endif %} background-color: #f4f4f4; border: 1px #e4e4e4 solid;">
				{% if form.vars.download_uri is defined and form.vars.download_uri %}
					<img src="{{ asset(form.vars.download_uri) }}"
						 style="max-width: {{ preview_width }}; max-height: {{ preview_height }}; margin:auto; display:block">
				{% endif %}
			</div>


			<div {% if form.vars.download_uri is not defined or not form.vars.download_uri %}style="background: rgba(255,255,255,.5); margin-top: -50px; padding: 4px 0; height:50px"{% endif %}>
				{% if enable_remote %}
					<div class="col-xs-12 cropper-remote">
						<div class="input-group">
							<input type="url" class="image-url-input input-sm form-control"
								   placeholder="{{ 'image_dist_placeholder'|trans }}" />
							<span class="input-group-btn">
                            <button type="button" class="btn btn-sm btn-primary btn-upload-dist" disabled="disabled"
									data-url="{{ path('presta_image_url_to_base64') }}">
                                <span class="fa fa-upload"></span>
                                {{ 'btn_import_image_remote'|trans }}
                            </button>
                        </span>
							<div class="remote-loader spinner hidden">
								<div class="rect1"></div>
								<div class="rect2"></div>
								<div class="rect3"></div>
								<div class="rect4"></div>
							</div>
						</div>
					</div>
				{% endif %}
				{% if enable_locale %}
					<div class="col-xs-4 cropper-local">
						<input type="file" name="file" class="hidden" />
						<button type="button" class="{{ upload_button_class }}">
							<span class="{{ upload_button_icon }}"></span>
							{{ 'btn_import_image_local'|trans }}
						</button>
					</div>
				{% endif %}

				{% if form.delete is defined %}
					<div class="col-xs-8 text-right">
						<div class="form-group  field-checkbox">
							<div class="checkbox">
								<input type="checkbox" id="{{ form.delete.vars.id }}"
									   name="{{ form.delete.vars.full_name }}" value="1">
								<label for="{{ form.delete.vars.id }}" style="padding:0">
									{{ form.delete.vars.label|trans }}
								</label>
							</div>
						</div>
					</div>
				{% endif %}
			</div>
			<div class="row" style="margin-top:4px">
				{{ form_row(form.base64) }}
			</div>

			{% set show_aspect_ratios = aspect_ratios|length > 1 %}
			<div class="modal fade">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
							<h4 class="modal-title">{{ 'resize_image'|trans }}</h4>
						</div>
						<div class="modal-body">
							<div class="row">
								<div class="{% if show_aspect_ratios %}col-md-10{% else %}col-md-12{% endif %}">
									<div class="cropper-preview"></div>
								</div>
								{% if show_aspect_ratios %}
									<div class="col-md-2">
										<div class="btn-group-vertical pull-right" data-toggle="buttons">
											{% for aspect_ratio in aspect_ratios %}
												<label class="btn btn-primary{% if aspect_ratio.checked %} active{% endif %}">
													<input type="radio" name="cropperAspectRatio"
														   value="{{ aspect_ratio.value }}"{% if aspect_ratio.checked %} checked="checked"{% endif %}>
													{{ aspect_ratio.label }}
												</label>
											{% endfor %}
										</div>
									</div>
								{% else %}
									{% for aspect_ratio in aspect_ratios %}
										<input type="hidden" name="cropperAspectRatio"
											   value="{{ aspect_ratio.value }}"{% if aspect_ratio.checked %} checked="checked"{% endif %}>
									{% endfor %}
								{% endif %}
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="{{ cancel_button_class }}"
									data-dismiss="modal">{{ 'btn_cancel'|trans }}</button>
							<button type="button" class="{{ save_button_class }}"
									data-method="getCroppedCanvas">{{ 'btn_validate'|trans }}</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endspaceless %}
{% endblock %}


{% block easyadmin_section_row %}
	{% set _translation_domain = easyadmin.entity.translation_domain %}
	<div class="field-section">
		{% if easyadmin.field.label|default(false) or easyadmin.field.icon|default(false) %}
			<h2>
				{% if easyadmin.field.icon|default(false) %}<i class="fa fa-{{ easyadmin.field.icon }}"></i>{% endif %}
				{{ easyadmin.field.label|default('')|trans(domain = _translation_domain)|raw }}
			</h2>
		{% endif %}

		{% if easyadmin.field.help|default(false) %}
			<p class="help-block">{{ easyadmin.field.help|trans(domain = _translation_domain)|raw }}</p>
		{% endif %}
	</div>
{% endblock easyadmin_section_row %}
