{% extends '@SixnappsExtension/easy_admin/layout.html.twig' %}

{% block content_header %}
{% endblock %}

{% block main %}
{% endblock %}

{% block body_javascript %}
	{{ parent() }}
{% endblock body_javascript %}
