{% extends '@SixnappsExtension/easy_admin/layout.html.twig' %}
{% form_theme form '@SixnappsExtension/Form/fields.html.twig' %}

{% block content_header %}
	<h1>
		Extension Bundle
		<small>Features</small>
	</h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-dashboard"></i> Accueil</a></li>
		<li><a href="#">Extension Bundle</a></li>
		<li class="active">Features</li>
	</ol>
{% endblock %}

{% block main %}
	{{ form(form) }}
{% endblock %}

{% block body_javascript %}
	{{ parent() }}
{% endblock body_javascript %}
